* {
	margin: 0;
	padding: 0;
	list-style: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	height: 100vh;
}
.container {
	height: 100%;
	background-color: #121e27;
	overflow: auto;
}
.container .navbar {
	height: 50px;
	width: 100%;
	padding-left: 40px;
	background-color: #07121a;
	padding-right: 40px;
	white-space: nowrap;
	display: inline-block;
	z-index: 70;
}
.container .navbar .logo {
	height: 50px;
	display: flex;
	float: left;
	margin-right: 30px;
	margin-top: 5px;
}
.container .navbar .logo a {
	height: 90%;
	width: 45px;
}
.container .navbar .logo img {
	height: 90%;
}
.container .navbar .menu {
	display: flex;
	float: right;
	height: 50px;
}
.container .navbar .menu a, .container .navbar .menu .dropdown .dropbtn {
	cursor: pointer;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 20px;
	color: white;
}
.container .navbar .menu .drop-content {
	display: none;
	background-color: #07121a;
	z-index: 100;
}
.container .navbar .menu .dropdown .dropbtn {
	border: none;
	outline: none;
	background-color: inherit;
	z-index: 101;
}
.container .navbar .menu a:hover, .container .navbar .menu .dropdown:hover {
	background-color: #2e31924f;
}
.container .navbar .menu .dropdown:hover .drop-content, .container .navbar .menu .dropdown:hover .drop-content a {
	display: block;
	position: relative;
	z-index: 101;
}
.container .navbar .menu .registration {
	background-color: #e8a71b;
}
.container .navbar .menu .registration:hover {
	background-color: #e86d1b;
}
.container .attributeBar {
	height: 70px;
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	border-bottom: 3px solid #e8a71b;
	border-left: 1px solid #e8a71b;
	border-right: 1px solid #e8a71b;
	margin-bottom: 40px;
	box-shadow: 0px 10px 50px;
}
.container .attributeBar .attributesContainer {
	height: 50px;
	width: 50px;
	margin-right: 20px;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}
.container .attributeBar .attributesContainer img {
	height: 100%;
	width: 100%;
}
.container .heroesContainer {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	width: 100%;
}
.container .heroesContainer p {
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px
}
.container .heroesContainer .cardContainer {
	padding: 20px;
	margin: auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.container .heroesContainer .cardContainer .heroesCard {
	height: 200px;
	width: 250px;
	display: inline-block;
	margin: 20px;
	border-style: solid;
	border-color: #e8a71b;
}

.container .heroesContainer .cardContainer .heroesCard:hover{
	transform: scale(1.25);
	box-shadow: 0 0 10px 9px rgba(232, 167, 27, 0.3);
}

.container .heroesContainer .cardContainer .expand{
	transform: scale(1.25);
	box-shadow: 0 0 10px 9px rgba(232, 167, 27, 0.3);
}
.container .attributeBar .expand {
	transform: scale(1.2);
}

.container .heroesContainer .cardContainer .heroesCard img {
	height: 75%;
	width: 100%;
}
.heroDetail {
	border: 2px solid black;
	width: 1200px;
	height: 550px;
	position: fixed;
	margin-top: -38%;
	margin-left: 3%;
	z-index: 200;
	background-image: linear-gradient(to bottom right,  #121e27,#284357);
	display: none;	
	transition-property: all;
	transition-duration: 1s;
}
.heroDetail.expand {
	
	transition-property: all;
	transition-duration: 1s;
	display: flex;
}
.heroBackFilter {
	height: 100em;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: absolute;
	overflow: auto;
}
.heroBackFilter.expand {
	display: flex;
}
.heroDescription h1 {
	margin-top: 30px;
	color: white;
	font-size: 60pt;
}
.heroDescription p {
	color: white;
	font-size: 15pt;
}
.heroDescription {
	display: flex;
	flex-direction: column;
	padding-right: 50px;
	padding-left: 50px;
	width: 700px;
}
.heroAttribute {
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	padding-left: 50px;
}
.heroDescription .heroTopAttributes .heroStats .hp, .heroDescription .heroTopAttributes .heroStats .mana {
	width: 160px;
	height: 40px;
}
.heroDescription .heroStats {
	margin-top: 25px;
	width: 30%;
	height: 30%;
}
.heroDescription .heroAttribute img {
	width: 50px;
	height: 40px;
	margin-top: 10px;
}
.heroAttributeSection {
	display: flex;
}
.heroAttributeSection p {
	margin-top: 12px;
	margin-left: 5px;
}
.heroTopAttributes p {
	padding-top: 6px;
	padding-left: 3px;
	font-size: 15pt;
}
.heroTopAttributes {
	display: flex;
}
.heroPotrait {
	width: 300px;
	margin-top: 30px;
	margin-left: 110px;
	height: 300px;
	z-index: 1;
}
.heroImages {
	display: flex;
	flex-direction: column;
}
.heroImages h3 {
	margin-top: 40px;
	color: white;
	margin-left: 215px;
}
#circle {
	height: 60px;
	width: 360px;
	background-color: #32323b;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin-top: 300px;
	margin-left: 70px;
	border: 1px solid black;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
	
	z-index: -2;
}
#circle2{
	height: 30px;
	width: 280px;
	background-color: #32323b;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	margin-top: 305px;
	margin-left: 110px;
	border: 1px black solid;
	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
	z-index: -1;
}
.heroSkill {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-top: 30px;
}
.heroSkill img {
	border: 1px solid black;
	margin-left: 20px;
	width: 80px;
	height: 80px;
}
.skill {
	border: 1px white solid;
	width: 400px;
	height: 300px;
	position: absolute;
	margin-top: 45px;
	margin-left: 50px;
	color: white;
	background-color: #0F1A20;
	display: none;
	padding: 20px;
	z-index: 50;
}
.abilityValue {
	margin-top: 30px;
}
#monkeyVideo {
	right: 50px;
	top: 30px;
	position: relative;
	z-index: 0;
}
#skills1Mars.expand, #skills2Mars.expand, #skills3Mars.expand, #skills4Mars.expand, #skills1Wukong.expand, #skills2Wukong.expand, #skills3Wukong.expand, #skills4Wukong.expand, #skills1Zeus.expand, #skills2Zeus.expand, #skills3Zeus.expand, #skills4Zeus.expand {
	display: block;
}
.triangle {
	background-color: #0F1A20;
	width: 50px;
	height: 50px;
	position: absolute;
}
@media screen and (min-width: 700px) and (max-width: 800px) {
	.container .navbar .logo {
		height: 50px;
		display: flex;
		float: left;
		margin-right: 0px;
		margin-top: 5px;
	}
	.container .navbar .menu a, .container .navbar .menu .dropdown .dropbtn {
		padding-right: 15px;
		padding-left: 15px;
	}
	.container .navbar .menu .dropdown.expand {
		background-color: #2e31924f;
	}
	.container .navbar .menu .dropdown.expand .drop-content, .container .navbar .menu .dropdown.expand .drop-content a {
		display: block;
		position: relative;
		z-index: 101;
	}
	.container .heroesContainer .cardContainer .heroesCard {
		height: 150px;
		width: 250px;
		display: inline-block;
		margin: 20px;
		border-style: solid;
		border-color: #e8a71b;
	}
	.container .heroesContainer p {
		font-size: 20px;
	}
	.heroDetail {
		width: 700px;
		height: 400px;
		margin-left: 5%;
	}
	.heroDescription h1 {
		font-size: 20pt;
	}
	.heroDescription p {
		font-size: 10pt;
	}
	.heroDescription .heroAttribute img {
		width: 40px;
		height: 30px;
		margin-top: 10px;
	}
	.heroPotrait {
		width: 200px;
		margin-top: 0px;
		margin-left: 17px;
		height: 240px;
		z-index: 1;
	}
	.heroImages .heroVideo video {
		width: 200px;
	}
	.heroImages {
		margin-right: 10px;
	}
	#circle {
		height: 40px;
		width: 200px;
		margin-top: 200px;
		margin-left: 20px;
		z-index: -2;
	}
	#circle2{
		height: 20px;
		width: 150px;
		background-color: #32323b;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		margin-top: 203px;
		margin-left: 46px;
		border: 1px black solid;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	#monkeyVideo{
		position: relative;
		right: 25px;
		top: 15px;
	}
	.heroImages h3 {
		margin-top: 5px;
		margin-left: 70px;
	}
	.heroSkill {
		justify-content: left;
		padding-left: 0px;
		padding-top: 5px;
	}
	.heroSkill img {
		margin-left: 20px;
		width: 40px;
		height: 40px;
	}
	.skill {
		margin-top: 0px;
		margin-left: -200px;
		display: none;
		padding: 10px;
	}
}
@media screen and (max-width: 699px) {
	.container .navbar .menu {
		display: none;
		text-align: center;
	}
	.container .navbar .burger {
		margin-top: 10px;
		float: right;
		width: 30px;
		height: 30px;
		border-style: solid;
		border-color: #e8a71b;
	}
	.container .navbar .burger .pat {
		height: 5px;
		width: 25px;
		background-color: #e8a71b;
		flex-direction: column;
		margin-bottom: 5px;
		margin-right: 0px;
	}
	.container .navbar .menu.expand {
		display: block;
		margin-top: 0px;
		height: 150px;
		width: 100%;
		position: relative;
		z-index: 101;
		background-color: #07121a;
	}
	.container .navbar .menu.expand .dropdown .dropbtn {
		display: none;
	}
	.container .navbar .menu.expand .dropdown .drop-content, .container .navbar .menu.expand .dropdown .drop-content a {
		display: block;
	}
	.registration {
		display: block;
	}
	.container .heroesContainer .cardContainer {
		padding: 5px;
		margin: auto;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.container .heroesContainer .cardContainer .heroesCard {
		height: 250px;
		width: 200px;
		display: block;
		margin: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		border-style: solid;
		border-color: #e8a71b;
	}
	.container .heroesContainer p {
		font-size: 20px;
	}
	.container .heroesContainer .cardContainer .expand{
		transform: scale(1.15);
		box-shadow: 0 0 10px 9px rgba(232, 167, 27, 0.3);
	}
	.heroDetail {
		width: 350px;
		height: 600px;
		margin-left: 5%;
		margin-top: -250%;
	}
	.heroDescription h1 {
		font-size: 20pt;
	}
	.heroDescription p {
		font-size: 10pt;
	}
	.heroDescription .heroAttribute img {
		width: 30px;
		height: 20px;
		margin-top: 15px;
	}
	.heroPotrait {
		width: 200px;
		margin-top: 0px;
		margin-left: 17px;
		height: 240px;
		z-index: 1;
	}
	.heroImages .heroVideo {
		display: none;
	}
	#circle {
		display: none;
	}
	#circle2{
		display: none;
	}
	.heroImages h3 {
		margin-top: 450px;
		margin-left: -250px;
	}
	.heroSkill {
		justify-content: left;
		padding-left: 0px;
		padding-top: 0px;
		margin-top: 30px;
		margin-left: -330px;
	}
	.heroSkill img {
		margin-left: 20px;
		width: 40px;
		height: 40px;
	}
	.skill {
		margin-top: 100px;
		margin-left: -345px;
		display: none;
		padding: 10px;
		width: 300px;
		height: 390px;
	}
}